{% extends 'partials/base.html.twig' %}

{% block content %}



<div class="nav_square">
	<a class="nav_square_link" href="{{ base_url }}/about">
		<div class="dark_overlay"></div>
		<h2>About</h2>
		<img class="nav_square_img" src="{{ url('theme://images/lost_brothers.jpg') }}" />
	</a>
</div>

<div class="nav_square">
	<a class="nav_square_link" href="{{ base_url }}/blog">
		<div class="dark_overlay"></div>
		<h2>Blog</h2>
		<img class="nav_square_img" src="{{ url('theme://images/stadium_selfie.jpg') }}" />
	</a>
</div>

<div class="nav_square">
	<a class="nav_square_link" href="{{ base_url }}/resume">
		<div class="dark_overlay"></div>
		<h2>Resume</h2>
		<img class="nav_square_img" src="{{ url('theme://images/steak_frites.jpg') }}" />
	</a>
</div>

<div class="nav_square">
	<a class="nav_square_link" href="{{ base_url }}/arts">
		<div class="dark_overlay"></div>
		<h2>Arts</h2>
		<img class="nav_square_img" src="{{ url('theme://images/steak_frites.jpg') }}" />
	</a>
</div>

<div class="nav_square">
	<a class="nav_square_link" href="{{ base_url }}/interests">
		<div class="dark_overlay"></div>
		<h2>Interests</h2>
		<img class="nav_square_img" src="{{ url('theme://images/steak_frites.jpg') }}" />
	</a>
</div>

<div class="nav_square">
	<a class="nav_square_link" href="{{ base_url }}/contact">
		<div class="dark_overlay"></div>
		<h2>Contact</h2>
		<img class="nav_square_img" src="{{ url('theme://images/stained_glass_flower.jpg') }}" />
	</a>
</div>


<div class="clear"></div>

	{{ page.content }}
	
{% endblock %}


