{% extends 'partials/base.html.twig' %}

{% block content %}



<div class="nav_square">
	<a class="nav_square_link" href="{{ base_url }}/interests/media">
		<div class="dark_overlay"></div>
		<h2>Media</h2>
		<img class="nav_square_img" src="{{ url('theme://images/little_dog.jpg') }}" />
	</a>
</div>

<div class="nav_square">
	<a class="nav_square_link" href="{{ base_url }}/interests/photos">
		<div class="dark_overlay"></div>
		<h2>Photos</h2>
		<img class="nav_square_img" src="{{ url('theme://images/stormtrooper.jpg') }}" />
	</a>
</div>

<div class="nav_square">
	<a class="nav_square_link" href="{{ base_url }}/interests/videos">
		<div class="dark_overlay"></div>
		<h2>Videos</h2>
		<img class="nav_square_img" src="{{ url('theme://images/video.jpg') }}" />
	</a>
</div>

<div class="clear"></div>

	{{ page.content }}
	
{% endblock %}


