{% extends 'partials/base.html.twig' %}

{% block content %}
	<div id="resume_container">

		<a class="job_tile" href="#" data-featherlight="#valveLightbox">
			<img  src="{{ url('theme://images/Valve.jpeg') }}" />
		</a>

		<a class="job_tile" href="#" data-featherlight="#yeslerLightbox">
			<img  src="{{ url('theme://images/YeslerLogo-Stacked.jpg') }}" />
		</a>

		<a class="job_tile" href="#" data-featherlight="#cole-weberLightbox">
			<img  src="{{ url('theme://images/Cwunited_small.png') }}" />
		</a>

		<a class="job_tile" href="#" data-featherlight="#attLightbox">
			<img  src="{{ url('theme://images/att_logo_sharing.png') }}" />
		</a>

		<a class="job_tile" href="#" data-featherlight="#amazonLightbox">
			<img  src="{{ url('theme://images/Amazon.png') }}" />
		</a>

		{# The above images can be added to the loop below if we fix the naming scheme or add a field for image filename #}
		{% for job in page.find('/resume').children %}
			<div class="company_responsibilities crazy" id="{{ job.folder }}Lightbox">{{ job.content }} </div>
		{% endfor %}
		
		<div class="clear"></div>

		<style>
			


		</style>

	</div> <!-- close container -->
	{{ page.content }}
	
	<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.2/release/featherlight.min.css" type="text/css" rel="stylesheet" />

{% endblock %}


